@import '_variables.scss';

.block-group-item{
  display: inline-block;
  margin: 5px;
//   -ms-transform: rotate(-90deg); /* IE 9 */
// -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
// transform: rotate(-90deg);

}

.block-count-chart {
    width: 220px;
    height: 110px;
    position: relative;
}

.blockcount {
    // -webkit-mask: url(/images/person.svg) no-repeat 50% 50%;
    // mask: url(/images/person.svg) no-repeat 50% 50%;
    // -webkit-mask-size: contain;
    // mask-size: contain;
    float: left;
    height: 6.6%;
    width: 3.3%;
    margin: 0.5%;
    position: relative;
    opacity: 1;
}

.color_Yes {
    color: $color-white;
    background: $color-primary-green;
}

.color_No {
    color: $color-black;
    background: $color-gray-light;
}
