@import '_variables.scss';


@mixin aspect-ratio($arglist... /*$ratio or $width, $height*/){
    $map : keywords($arglist);
    $height: map-get($map, height) or nth-or-null($arglist, 2);
    $width:  map-get($map, width)  or nth-or-null($arglist, 1);
    $ratio:  map-get($map, ratio)  or if($width and $height, $width/$height, nth-or-null($arglist, 1)) or 1;
    $padding: 1/$ratio * 100%;
    &::before, &::after { content: ''; display: table; clear: both; width:1px; margin-left:-1px; }
    &::before { float: left; padding-bottom: $padding; }
}

// Helper function
// Return null rather than throwing an error if index is outside list range.
@function nth-or-null($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}


.reponsive-ratio{
  margin-top: 10px;
// @include aspect-ratio(3,1);
width: 100%;
height: 300px;
position: relative;
}
.block-count-chart {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    display: grid;
    grid-gap: 0.7% 0.34%;
    grid-template-columns: repeat(43, 2%);
    grid-template-rows: repeat(15, 6%);
    grid-auto-flow: column;
}

.blockcount {
    // -webkit-mask: url(/images/person.svg) no-repeat 50% 50%;
    // mask: url(/images/person.svg) no-repeat 50% 50%;
    // -webkit-mask-size: contain;
    // mask-size: contain;
    // float: left;
    // height: 4.3%;
    // width: 1.5%;
    // margin: 0.1%;
    position: relative;
    opacity: 1;
}

.color_Yes_1 {
    color: $color-white;
    background: $color-primary-green;
}

.color_Yes_2 {
    color: $color-white;
    background: $color-primary-alt;
}

.color_No_1 {
    color: $color-black;
    background: $color-gray;
}

.color_No_2 {
    color: $color-black;
    background: $color-gray-alt;
}
