/* ============================================================
 Block Chart by Substance
============================================================ */
.center{
  text-align: center;
}

.left {
    text-align: left;
}

.table th {
    text-align: center;
}

.table td {
    width: 50%;
    color: white;
}

.table_blockchart {
    width: 100%;
    margin: auto;
    display: inline-block;
}

.block-chart {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.block {
    -webkit-mask: url(/images/person.svg) no-repeat 50% 50%;
    mask: url(/images/person.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    float: left;
    height: 9%;
    width: 9%;
    margin: 0.5%;
    position: relative;
    opacity: 1;
}

.color_Yes {
    background: #43956f;
}

.color_No {
    background: #B0BEC5;
}
