@import '_variables.scss';


.block-group{
  width: 100%;
  margin: 0 auto;
  display: inline;
  text-align: center;
}

.highlight_Yes{
  color: $color-primary-green;
  font-weight: $font-bold;
}

.highlight_No{
  color: $color-gray;
  font-weight: $font-bold;
}

.block-desc {
text-align: left;
vertical-align: text-bottom;
margin:15px 0 -15px;
p{
  line-height: $heading-line-height;
  font-size: $small-font-size;
}
}

@media only screen and (min-width: 333px) {
  .block-desc {
  height: 6rem;
  }
 }


 @media only screen and (min-width: 576px) {
   .block-desc {
   height: 3rem;
   }
  }

  @media only screen and (min-width: 992px) {
    .block-desc {
    height: 7rem;
    margin: 0;

    }
   }
