@import '_variables.scss';

.block-chart {
    width: 230px;
    height: 230px;
    display: inline-block;
}

.block {
    // -webkit-mask: url(/images/person.svg) no-repeat 50% 50%;
    // mask: url(/images/person.svg) no-repeat 50% 50%;
    // -webkit-mask-size: contain;
    // mask-size: contain;
    float: left;
    height: 9%;
    width: 9%;
    margin: 0.5%;
    position: relative;
    background: none;
}

.colorPerson_Yes {
    color: $color-white;
    fill: $color-primary-green;
}

.colorPerson_No {
    color: $color-black;
    fill: $color-gray-light;
}
