@import '_variables.scss';

h2.grade-header{
  font-family: $font-style;
  font-size: $lead-font-size;
  background-color: $color-primary-yellow;
  color: $color-white;
  padding: 15px 10px;
  text-align: center;
}

h3.chart-title {
  font-family: $font-style;
  font-weight: $font-bold;
  font-size: $large-font-size;
  border-bottom: 3px solid $color-primary-yellow;
  color: $color-primary-blue;
  padding-bottom: 10px;
  display: inline-block;
  line-height: $heading-line-height;
  width: 100%;
  text-align:center;
  span{
    font-weight: $font-thin;
    font-size: $large-font-size;
  }
}

@media all and (min-width: 992px) {
  h2.grade-header{
    span{
      font-size: $title-font-size;
    }
    font-size: $lead-font-size;
    background-color: $color-primary-yellow;
    color: $color-white;
    padding: 25px 5%;
    margin-bottom: 30px;
    //border-radius: 100%;
  }

  h3.chart-title {
    line-height: $base-line-height;
    border-top: 7px solid $color-primary-yellow;
    border-bottom: 7px solid $color-primary-yellow;
    padding: 23px 0 23px 20px;
    font-size: $lead-font-size;
    text-align: left;
    span{
      display: block;
    }
}

}
