@import '_variables.scss';

.dash-select {
  background-color:$color-gray;
  padding:5px 5%;
  margin: 0;
  font-size: 1.6rem;
}

.dash-select span {
  color: $color-white;
}

.Select {
  display: inline-table;
  width: 100%;
  z-index: 100;
  margin-bottom: 5px;
}

.Select .Select-control {
  border-radius: 0;
  padding: 2px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-top: 3px;
}

.btn-primary {
  margin-left: 0;
}


  .btn.backToTop{
    margin-top: 12px;
    display: none;
    border-radius: 0;
    padding: 3px 6px;
  }

.dash-select.navbar-fixed-top{
  a.backToTop_link{
    color: $color-white;
    text-decoration: underline;
    display: block;
  }
}

@media (min-width: 1199px) {
  .Select {
    width: 60%;
  }
  .btn-primary {
    margin-left: 3px;
  }

  .dash-select.navbar-fixed-top{
    .btn.backToTop{
      margin-top: 8px;
      display: inline-block;
    }
    a.backToTop_link{
      display: none;
    }
  }
  a.backToTop_link{
    display: none;
  }
}
