@import '_variables.scss';

.dash-select {
  background-color:$color-gray;
  padding:5px 5%;
  margin: 0;
  font-size: 1.6rem;
}

.dash-select span {
  color: $color-white;
}

.Select {
  display: inline-table;
  width: 100%;
  z-index: 100;
  margin-bottom: 5px;
}

.Select .Select-control {
  border-radius: 0;
  padding: 2px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-top: 3px;
}

.btn-primary {
  margin-left: 0;
}

@media (min-width: 768px) {
  .Select {
    width: 60%;
  }
  .btn-primary {
    margin-left: 3px;
  }
}
