@import '_variables.scss';

.target-nav{
  padding-top: 80px;
}

.grade_line{
  display: none;
}

.vertical_space{
  display: block;
  height: 30px;
  width: 100%;
}

@media all and (min-width: 992px) {
  .container{
    .grade_main{
      width: 80%;
      float:right;
    }
    .vertical_space{
      display: none;
    }
  }
}
