@import '_variables.scss';

.target-nav{
  padding-top: 80px;
}

.grade_line{
  display: none;
}
@media all and (min-width: 992px) {
  .container{
    .grade_main{
      width: 80%;
      float:right;
    }
    // .grade_line{
    //   text-align: center;
    //   width: 20%;
    //   height: 400px;
    //   display: block;
    //   border-right: 2px solid $color-primary-blue;
    // }
  }
}
