@import '_variables.scss';


@mixin dark-view {
    a {
        color: $color-white;
        &:active,
        &:visited {
            color: $color-white;
        }
        &:hover,
        &:focus {
            color: $color-white;
        }
    }
    color: $color-white;
    padding: 30px;
}

.page-scroll sup {
    font-size: 1.2rem;
    font-weight: $font-bold;
    color: $color-primary-blue;
}

.sources-section{
  @include dark-view;
  background-color: $color-black;
  padding: 25px 0;
  ol{
    padding-left: 20px;
    li{
      &:target{
        span{
          color: $color-black;
          background-color: $color-white;
        }
        a{
          color: $color-white;
        }
      }
      i {
        font-size: 1.5rem;
        &:hover {
          font-size: 1.6rem;
        }
      }
    }
  }
}
