@import '_variables.scss';


@mixin dark-view {
    a {
        color: $color-white;
        &:active,
        &:visited {
            color: $color-white;
        }
        &:hover,
        &:focus {
            color: $color-white;
        }
    }
    color: $color-white;
    padding: 30px;
}

.sources-section {
    @include dark-view;
    background-color: $color-black;
    padding: 25px 0;
}

.page-scroll sup {
    font-size: 1.2rem;
    font-weight: $font-bold;
    color: $color-primary-blue;
}

.sources-section li p {
    font-size: $small-font-size;
    background: transparent;
    transition: background 250ms ease-in-out;
}

.sources-section li:target span{
    color: $color-black;
    background-color: $color-white;
}

.sources-section li:target a {
  color: $color-white; 
}

.sources-section li i {
  font-size: 1.5rem;
}

.sources-section li i:hover {
  font-size: 1.6rem;
}