@import '_variables.scss';

header, .page-header{
  background:
  linear-gradient(
    to right,
    $color-blue-alt,
    $color-blue-alt,
    $color-green-alt
  ),
  url('/images/dese-header-image.jpg');
  background-color: $color-blue-alt;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  margin: 0 auto;
  min-height: 300px;
  border: 0;
  color: $color-white;
  h1{
    font-size: $title-font-size;
    font-family: $font-style;
  }
  h3{
    font-weight: $font-normal;
    font-size: $base-font-size;
  }
}
