@import '_variables.scss';

.list-icon {
  color: $color-primary-green;
  margin-right: 10px;
}

ul.icon-list{
  list-style: none;
  margin-left: 0;
  padding-left: 2.5rem;
  text-indent: -1.7rem;
  li {
    font-size: $base-font-size;
    padding-left: 1rem;
    margin: 0.8rem 0;
  }
}

.full-width-alt{
  background-color: $color-gray-lighter;
  padding: 0 0 50px;
  margin-top: 50px;
  &:nth-child(2){
    margin-top: 0;
  }
}

@mixin underline {
  color: $color-primary-blue;
  padding-bottom: 10px;
  display: inline-block;
  line-height: $heading-line-height;
}

.full-width-alt__title{
  color: $color-primary-blue;
  text-align: center;
  span{
  border-bottom: 3px solid $color-primary-yellow;
  @include underline;
  }
}

h3.full-width-alt__title{
  color: $color-primary-blue;
  span{
  border-bottom: 3px solid $color-primary-green;
  @include underline;
  }
}

@media all and (min-width: 992px) {
  .full-width-alt__title{
    text-align: left;
  }
}
