@import '_variables.scss';


@mixin active-state {
  background-color: transparent;
  color: $color-white;
  border-bottom: 3px solid $color-primary-yellow;
}

@mixin active-menu {
  color: $color-white;
  background-color: $color-black;
  border: 1px solid $color-black;
}

.navbar {
  margin-top: 20px;
  padding: 0 15px;
  border-radius: 0;
  border: 0;
}

.navbar-collapse{
  padding: 0;
}

.navbar-inverse{
  background-color: $color-gray;
}

.nav, .nav-tabs {
  width: 100%;
}

.nav {
  li{
    a{
      color: lighten($color-gray,30%);
      border: none;
      border-radius: 0;
      padding: 12px 15px;
      &.active {
        @include active-state;
      }
      &:hover, &:active, &:focus{
        @include active-state;
      }
    }
  }
}

.navbar-inverse .navbar-brand {
  color: $color-white;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid $color-white;
}

.btn-inverse{
  color: $color-white;
  border-radius: 0;
  &.active {
    @include active-menu
  }
  &:hover, &:active, &:focus{
    @include active-menu
  }
}

.nav-item {
    padding-left: 0;
}


#current-section {
  margin-top: 4px;
  display: block;
}

@media all and (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; }
  #current-section {
    display: none; }
}

@media all and (min-width: 991px) {
  #current-section {
    display: auto; }
  .neg-space-col-md {
    margin-top: -30px; }
  #top {
    padding: 0; }
}

@media all and (min-width: 1440px) {
  #current-section {
    display: none; }
  #top {
    padding: 50px 0 0; }
}
