@import '_variables.scss';


@mixin active-state {
  background-color: transparent;
  border-bottom: 3px solid $color-primary-yellow;
}

.nav, .nav-tabs {
  width: 100%;
  background-color: $color-gray;
  height: 50px;
  margin-top: 25px;
}

.nav>li>a {
    color: $color-white;
    border: none;
    border-radius: 0;
    padding: 15px 15px;
    &.active {
      @include active-state;
    }
    &:hover, &:active, &:focus{
      @include active-state;
    }
}
