@import '_variables.scss';


@mixin active-state {
  background-color: transparent;
  color: $color-white;
  border-radius: 0;
  border-bottom: 3px solid $color-primary-yellow;
}

@mixin active-menu {
  color: $color-white;
  background-color: $color-black;
  border: 1px solid $color-black;
}

.navbar {
  margin-top: 20px;
  padding: 0 15px;
  border-radius: 0;
  border: 0;
}

.navbar-fixed-top {
    position: fixed;
    margin-top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-collapse{
  display: none;
  padding: 0;
}

.navbar-expand{
  display: block;
  padding: 0;
}

.navbar-inverse{
  background-color: $color-gray;
}

.nav, .nav-tabs {
  width: 100%;
}

.nav {
  li{
    a{
      color: lighten($color-gray,30%);
      border: none;
      border-radius: 0;
      padding: 12px 15px;
      &.active {
        @include active-state;
      }
      &:hover, &:active, &:focus{
        @include active-state;
      }
    }
  }
}

.navbar-inverse .navbar-brand {
  color: $color-white;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid $color-white;
  color: $color-white;
  border-radius: 0;
  &.active {
    @include active-menu
  }
  &:hover, &:active{
    @include active-menu
  }
}

.nav-item {
    padding-left: 0;
}


#current-section {
  margin-top: 4px;
  display: block;
}

@media all and (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar-fixed-top {
    position: fixed;
  }
  .navbar-collapse{
    display: inline;
    padding: 0;
  }
  #current-section {
    display: none; }
}
